.modal{
    position: fixed;
    inset:0;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 100;
}

.modal.open{
    transform: translateX(0);
}